:host ::ng-deep .p-card-footer .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

:host ::ng-deep .p-button {
  min-width: 75px;
}

:host ::ng-deep .p-card-title {
  color: cornflowerblue;
  font-size: 18px;
}

:host ::ng-deep .p-card-subtitle {
  color: yellowgreen;
  font-size: 14px;
}

:host ::ng-deep .p-card .p-card-content {
  font-style: italic;
  padding: 0.2rem 0;
}

:host ::ng-deep .p-card-header img {
  aspect-ratio: 282/370;
  width: 100%;
  height: 100%;
}