<div class="movies__cards">
    @if(moviesList.length > 0) {
    @for (movie of moviesList; track movie.id) {
    <app-movie [data]='movie' (changeFavorite)="handleChangeFavorite($event)"
        (changeWatching)="handleChangeWatching($event)"></app-movie>
    }
    }
</div>
@if (favoritesMoviesList.length > 0){
<h3 class="movies__title">Favorites List:</h3>
@for(favoriteMovie of favoritesMoviesList; track favoriteMovie.id){
<p class="movies__label">{{favoriteMovie.title}}</p>
}
}
@if (watchingMoviesList.length > 0){
<h3 class="movies__title">Watching List:</h3>
@for(watchingMovie of watchingMoviesList; track watchingMovie.id){
<p class="movies__label">{{watchingMovie.title}}</p>
}
}